# Default ignored files
pass.txt
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Andrei\SSVV\MavenApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
